*{
    font-family:  Vazirmatn;
}

.contain{
    display: flex;
    flex-direction: column; 
    
}
table{
    border-collapse: collapse;
}


th{
    padding: 20px 10px;
    text-align:end;  
}
td{
    padding: 10px;
    text-align:end;    
}

tr:nth-last-child(-n+10):hover{
    background-color: rgb(188, 188, 188);
}

.head{
    background-color: rgb(255, 189, 74);
    color: white;
    padding: 15px 10px;
    text-align: end;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    text-decoration: none; 
    color: rgb(12, 132, 223);
     
}
img{
    width: 25px;
    height: 25px;
}

tr:nth-child(odd){
    background-color: rgb(235, 235, 235);
}

